

h1 {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: #3c0b5d;
    margin-bottom: 1rem;
    
}
.form-card {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #eee;
  max-width: 650px;
  margin: 0 auto;
  animation: fadeIn 0.8s ease, slideUp 0.8s ease;
}

/* Inputs */
.form-control, .form-select {
    border-radius: 12px;
    border: 1px solid #ddd;
    padding: 0.7rem;
    transition: all 0.25s ease;
}

.form-control:focus, .form-select:focus {
    border-color: #9816AA;
    box-shadow: 0 0 0 0.15rem rgba(93, 63, 211, 0.2);
    transform: scale(1.02);
}

/* Botones */
.btn-dark {
    background: linear-gradient(135deg, #5d3fd3, #4a2ec1);
    border: none;
    border-radius: 12px;
    padding: 0.6rem 1.5rem;
    font-weight: 500;
    color: white;
    box-shadow: 0 4px 12px rgba(93, 63, 211, 0.2);
    transition: all 0.25s ease;
}

.btn-dark:hover {
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 6px 16px rgba(93, 63, 211, 0.25);
}

.btn-secondary {
    border-radius: 12px;
    padding: 0.6rem 1.5rem;
    transition: transform 0.2s ease;
}

.btn-secondary:hover {
    transform: translateY(-2px);
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
/* Card principal */
.choice-card {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #eee;
    text-align: center;
    animation: fadeIn 0.8s ease;
}

.choice-card h5 {
    font-family: Raleway, sans-serif; 
    font-size: 1.5rem;
    color: #3c0b5d;
    font-weight: 700;
}

/* Opciones */
.option-card {
    flex: 1 1 220px;
    max-width: 250px;
    background: linear-gradient(135deg, #d16fff, #9916aa9d);
    color: #fff;
    border-radius: 16px;
    padding: 25px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    text-align: center;
}

.option-card i {
    font-size: 2.5rem;
    margin-bottom: 10px;
    display: block;
}

.option-card h6 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.option-card p {
    font-size: 0.9rem;
   color: #26064d;
}

/* Hover animación */
.option-card:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 10px 25px rgba(170, 91, 255, 0.4);
}

/* Responsive */
@media (max-width: 768px) {
    .choice-card {
        padding: 25px;
    }
    .option-card {
        max-width: 100%;
    }
}
