{% load static %}
<!DOCTYPE html>
<html lang="es">
<head> 
    <meta charset="UTF-8">
    <title>NearBeats</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet"/>
    
    <!-- CSS propio -->
    <link rel="stylesheet" href="{% static 'main/css/estilo.css' %}">
    

    
    <!-- JS propio -->
    <script src="{% static 'main/js/search.js' %}"></script>
</head>

<body>
    <!-- Navbar (importado) -->
    {% include 'main/main_navbar.html' %}

    <!-- Bloque para contenido dinámico -->
    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>
    
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

