{% extends 'main/base.html'%} 
{% load static %}

{% block content %}
<div class="main-block">
  <div class="main-text">
    <div class="main-titles">
      <h1 class="parte1">Find a Near</h1>
      <h1 class="parte2">Beat</h1>
    </div>
  </div>

  <!-- Botón de filtro -->
  <div class="canva-boton-filter">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btnm" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Filtrar
      </button>
    </div>

    <div class="offcanvas offcanvasm" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header offcanvas-headerm">
        <h5 class="offcanvas-title offcanvas-titlem" id="offcanvasExampleLabel">Filtrar por</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
      </div>
      <div class="offcanvas-body offcanvas-bodym">
        <form method="get" action="{% url 'display_random_song' %}" id="filterForm">

          <!-- Emoción -->
          <div class="dropdown mt-3 dropdownm">
            <input type="hidden" name="emotion" id="emotionInput">
            <button class="btn dropdown-toggle dropdown-togglem" type="button" data-bs-toggle="dropdown">
              Emoción
            </button>
            <ul class="dropdown-menu dropdown-menum">
              <li><a class="dropdown-item dropdown-itemm" onclick="setFiltro('emotionInput','triste', event)">Tristeza</a></li>
              <li><a class="dropdown-item dropdown-itemm" onclick="setFiltro('emotionInput','melancolico', event)">Melancolía</a></li>
              <li><a class="dropdown-item dropdown-itemm" onclick="setFiltro('emotionInput','feliz', event)">Alegría</a></li>
            </ul>
          </div>

          <!-- Año de publicación -->
          <div class="dropdown mt-3 dropdownm">
            <input type="hidden" name="created_at" id="created_atInput">
            <button class="btn dropdown-toggle dropdown-togglem" type="button" data-bs-toggle="dropdown">
              Año de publicación
            </button>
            <ul class="dropdown-menu dropdown-menum">
              <li><a class="dropdown-item dropdown-itemm" onclick="setFiltro('created_atInput','2000-02-20 14:30:00', event)">2000</a></li>
              <li><a class="dropdown-item dropdown-itemm" onclick="setFiltro('created_atInput','2010-02-20 14:30:00', event)">2010</a></li>
              <li><a class="dropdown-item dropdown-itemm" onclick="setFiltro('created_atInput','2020-02-20 14:30:00', event)">2020</a></li>
            </ul>
          </div>

          <!-- Género -->
          <div class="dropdown mt-3 dropdownm">
            <input type="hidden" name="genre" id="genreInput">
            <button class="btn dropdown-toggle dropdown-togglem" type="button" data-bs-toggle="dropdown">
              Género
            </button>
            <ul class="dropdown-menu dropdown-menum">
              <li><a class="dropdown-item dropdown-itemm" onclick="setFiltro('genreInput','pop', event)">Pop</a></li>
              <li><a class="dropdown-item dropdown-itemm" onclick="setFiltro('genreInput','rock', event)">Rock</a></li>
              <li><a class="dropdown-item dropdown-itemm" onclick="setFiltro('genreInput','merengue', event)">Merengue</a></li>
            </ul>
          </div>

          <!-- Random -->
          <div class="form-check form-checkm mt-3">
            <input type="hidden" name="random" id="randomInput">
            <input class="form-check-input form-check-inputm" type="radio"
            name="flexRadioDefault" id="flexRadioDefault1"  onclick="setFiltro('randomInput', '1')">
            <label class="form-check-label form-check-labelm" for="flexRadioDefault1">
              Canción aleatoria
            </label>
          </div>

          <div class="btndiv mt-3">
            <button type="submit" class="btn btnm">Buscar</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- Resultados de canciones -->
  <div class="songs-block">
    {% for song in songs %}
    <div class="card mb-3 cardm">
      <div class="row g-0 rowm">
        <div class="col-md-4 col4m">
          <img src="{{ song.cover_image.url }}" class="img-fluid rounded-start img-fluidm" alt="{{ song.title }}">
        </div>
        <div class="col-md-8 col8m">
          <div class="card-body card-bodym">
            <h5 class="card-title card-titlem">{{ song.title }}</h5>
            <a class="card-text card-textm" href="{% url 'get_artist_dashboard' song.artist_name %}">{{ song.artist_name }}</a>
            <p class="card-text card-textm"><small class="text-body-secondary">Última actualización hace 3 min</small></p>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      {% if usando_filtro %}
        <div class="card text-center" style="max-width: 400px; margin: 20px auto;">
          <div class="card-body card-bodyalertm">
            <p class="card-text">No hay canciones que cumplan con los filtros seleccionados.</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  
</div>

<script src="{% static 'main/js/funciones.js' %}"></script>

{% endblock %}
